<div xmlns:th="http://www.thymeleaf.org" th:fragment="filter">
    <h4 class="text-success">BỘ LỌC SẢN PHẨM</h4>
    <div class="m-3">
        <b>Danh mục:</b>
        <div th:each="type : ${types}">
            <label><input type="checkbox" class="me-3" th:value="${type}">[[${type}]]</label>
        </div>
        
    </div>
    <div class="m-3">
        <b>Khoảng giá:</b>
        <div>
            <label><input type="checkbox" class="me-3"> < 500,000</label><br>
            <label><input type="checkbox" class="me-3"> < 1,000,000</label><br>
            <label><input type="checkbox" class="me-3"> > 1,000,000</label>
        </div>
        
    </div>
    <div class="m-3">

        
    </div>
</div>