<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer" class="container mt-5">
	<div class="row lh-lg text-success">
		<div class="col-md-5">
			<h3>LIÊN HỆ</h3>
			<div class="ps-2">
				Mua hàng online: 0393 644 116 <br>
				Liên hệ hợp tác: marketing@elise.vn <br>
				Chăm sóc khách hàng: 0833 55 77 55 <br>
				Thời gian làm việc: Thứ 2 đến thứ 7 từ 8h30 đến hết 17h30 <br>
			</div>
		</div>
		<div class="col-md-3">
			<h3>THÀNH VIÊN</h3>
			<div class="ps-2">
				Quyền lợi thành viên <br>
				Thông tin thành viên <br>
				Theo dõi đơn hàng <br>
				Hướng dẫn mua hàng
			</div>
		</div>
		<div class="col-md-3">
			<h3>KẾT NỐI</h3>
			<div class="d-flex fs-4 ps-4 gap-3">
				<i class="bi bi-facebook"></i>
				<i class="bi bi-twitter"></i>
				<i class="bi bi-youtube"></i>
			</div>
			<h3>THANH TOÁN</h3>
			<div class="d-flex ps-4 gap-2">
				<img width="70px" src="https://lep.vn/icons/ic-visa.png" alt="">
				<img width="70px" src="https://lep.vn/icons/ic-mastercard.png" alt="">
				<img width="70px" src="https://lep.vn/icons/ic-paypal.png" alt="">
				<img width="70px" src="https://lep.vn/icons/ic-jcb.png" alt="">
			</div>
		</div>
	</div>
	<div class="text-center my-5 text-success">
		<img width="120px" class="mx-auto" src="https://lep.vn/images/bo-cong-thuong.png" alt="">
		<div>Mã số thuế: 0108175xxx © Bản quyền thuộc Công ty cổ phần thời trang FPoly.</div>
	</div>
</div>