<div xmlns:th="http://www.thymeleaf.org" th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/elise">
				<img src="https://img.ws.mms.shopee.vn/17aea752cde2904a2e50102db22cc07b" alt="logo" width="100">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active text-success" aria-current="page" href="/elise/new-arrival">NEW
							ARRIVAL</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active text-success" aria-current="page" href="/elise/best-seller">BEST
							SELLER</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							SẢN PHẨM
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li th:each="type : ${types}"><a class="dropdown-item"
									th:href="@{|/elise/product/${type}|}">[[${type}]]</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link active text-success" aria-current="page"
							href="/elise/collection">COLLECTION</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active text-success" aria-current="page" href="/elise/about">GIỚI THIỆU</a>
					</li>
				</ul>
				<div class="d-flex text-success fs-3 justify-content-between align-items-center me-3 gap-3">
					<form method="get" action="/elise/search">
						<div class="input-group align-items-center border border-success rounded-pill">
							<input name="keyword" type="text" class="form-control border-0 rounded-pill"
								style="border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;"
								placeholder="Tìm kiếm" aria-describedby="button-addon2">
							<button class="btn" type="submit" id="button-addon2"><i class="bi bi-search"></i></button>

						</div>
					</form>
					<div th:unless="${#request.remoteUser}">
						<a href="/elise/login" role="button"><i class="bi bi-person-circle text-success"></i></a>
					</div>
					<div th:if="${#request.remoteUser}" class="nav-item dropdown text-success">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-person-circle text-success"></i>
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
							<li th:if="${#request.isUserInRole('MAN')} or ${#request.isUserInRole('STA')}"><a
									class="dropdown-item" href="/elise/admin">Trang quản trị</a></li>
							<li><a class="dropdown-item" href="/elise/account/profile">Thông tin tài khoản</a></li>
							<li><a class="dropdown-item" href="/elise/account/order-history">Lịch sử mua hàng</a></li>
							<li><a class="dropdown-item" href="/elise/account/change-password">Thay đổi mật khẩu</a></li>
							<li><a class="dropdown-item" href="/elise/account/logoff">Đăng xuất</a></li>
						</ul>
					</div>
					<div class="position-relative">
						<a data-bs-toggle="modal" href="#cartModal" role="button">
							<i class="bi bi-cart4 text-success">
								<span ng-bind="cart.count" style="font-size: 14px;"
									class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
								</span>
							</i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<!-- Giỏ hàng -->
	<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-8 border rounded py-3">
							<div style="min-height: 400px;">
								<h3 class="text-success">Giỏ hàng của bạn</h3>
								<span ng-show="cart.count == 0" class="fst-italic">Không có sản phẩm nào trong giỏ
									hàng</span>
								<div ng-repeat="p in cart.items track by $index"
									class="d-flex justify-content-between align-items-center my-2">
									<img class="border rounded" width="100px"
										ng-src="/assets/images/{{p.images[0].name}}" alt="">
									<div style="font-size: smaller; width: 160px;">
										{{p.name}}<br>
										<span class="fst-italic" ng-bind="p.id"></span>
									</div>
									<div>
										<input style="max-width: 50px;" class="text-center" type="text" disabled ng-model="p.size">
									</div>
									<div>
										<input ng-model="p.quantity" ng-change="cart.saveToLocalStorage()"
											style="max-width: 50px;" type="number" min="1" step="1">
									</div>
									<div style="font-size: smaller;">
										<span ng-bind="p.price * p.quantity | currency : '' : '.0'"></span> đ
									</div>
									<div>
										<button class="btn rounded btn-danger" ng-click="cart.remove(p.id)"><i
												class="bi bi-trash3"></i></button>
									</div>
									<hr>
								</div>
							</div>

							<span>
								<span class="text-success"><i class="bi bi-truck"></i> Giao hàng <br></span>
								Miễn phí giao hàng với đơn hàng giá trị trên 1,500,000đ trong khu vực nội thành thành
								phố
								Hồ Chí Minh.
							</span>
						</div>
						<div class="col-4">
							<div class="d-grid mb-3">
								<button class="btn btn-success mt-3" ng-click="cart.clear()">Xóa hết</button>
							</div>
							<div class="border rounded p-2">
								<table class="table table-borderless">
									<tr>
										<td>Tổng tiền:</td>
										<td ng-bind="cart.amount | currency: '' : '.0'" class="text-end"></td>
									</tr>
									<tr>
										<td>Phí ship:</td>
										<td ng-bind="cart.delivery | currency: '' : '.0'" class="text-end"></td>
									</tr>
									<tr class="border-top">
										<td>Thành tiền:</td>
										<td ng-bind="cart.amount + cart.delivery | currency: 'đ' : '.0'"
											class="text-end">
										</td>
									</tr>
								</table>
								<div class="d-grid">
									<a role="button" th:href="@{/elise/account/checkout}"
										class="btn btn-success mt-3">Thanh
										toán</a>
									<button class="btn btn-secondary mt-3" data-bs-dismiss="modal">Quay lại</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>